# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Local stuff
local/*
*.json

cpp00/ex00/megaphone
cpp00/ex01/PhoneBook
cpp00/ex02/BanksterPro
cpp00/ex02/log.log
cpp01/ex00/BraiiiiiiinnnzzzZ
cpp01/ex01/MoarBrainz
cpp01/ex02/HiThisIsBrain
cpp01/ex03/UnnecessaryViolence
cpp01/ex04/SedIsForLosers
cpp01/ex05/Harl
cpp01/ex06/harlFilter
cpp02/ex00/Fixed
cpp02/ex01/Fixed
cpp02/ex02/Fixed
cpp03/ex01/ScavTrap
cpp03/ex02/FragTrap
cpp04/ex00/Zoology
cpp04/ex01/Zoology
cpp05/ex00/Bureaucracy
cpp05/ex01/Bureaucracy
cpp05/ex02/Bureaucracy
cpp05/ex02/ResidentialDistrict42_shrubbery
cpp05/ex03/Bureaucracy
cpp06/ex00/convert
