# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Local stuff
local/*
*/.vscode/settings.json
.vscode/settings.json

cpp00/ex00/megaphone
cpp00/ex01/PhoneBook
cpp00/ex02/BanksterPro
cpp00/ex02/log.log
cpp01/ex00/BraiiiiiiinnnzzzZ
cpp01/ex01/Moar_brainz